@keyframes animateLogoLine {
  0% {
    left: 0;
  }
  15% {
    left: 13%;
  }
  30% {
    left: 27%;
  }
  45% {
    left: 38%;
  }
  55% {
    left: 47%;
  }
  64% {
    left: 57%;
  }
  73% {
    left: 65%;
  }
  82% {
    left: 71%;
  }
  91% {
    left: 79%;
  }
  98% {
    left: 85%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes animateLogoLine2 {
  0% {
    left: 2%;
    opacity: 0;
  }
  50% {
    left: 2%;
    opacity: 1;
  }
  100% {
    left: 2%;
    opacity: 0;
  }
}
@keyframes loadingAnimationBottom {
  0% {
    width: 0%;
    left: 0%;
  }
  33% {
    width: 50%;
    left: 0%;
  }
  66% {
    width: 50%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 50%;
  }
}
@keyframes loadingAnimationTop {
  0% {
    width: 0%;
    right: 3%;
  }
  33% {
    width: 45%;
    right: 3%;
  }
  66% {
    width: 45%;
    right: 3%;
  }
  100% {
    width: 0%;
    right: 48%;
  }
}
@keyframes clickForNightMode {
  0% {
    left: -255px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    left: -10px;
  }
  48% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  52% {
    transform: rotate(10deg);
  }
  54% {
    transform: rotate(-10deg);
  }
  56% {
    transform: rotate(10deg);
  }
  58% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  62% {
    transform: rotate(0);
  }
  75% {
    left: -10px;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: -255px;
    opacity: 0;
  }
}
